<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>

<!--Navigation-->
<nav th:replace="base :: navbar"></nav>

<div class="card card-body col-8 mx-auto spaceAbove">
    <form action="#" th:action="@{/process}" th:object="${flight}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{imageurl}" name="imageurl" />
        <div class="form-group">
            <label for="airline">Airline: </label>
            <input type="text" th:field="*{airline}" class="form-control" id="airline" placeholder="Delta">
        </div>
        <div class="form-group">
            <label for="number">Flight Number: </label>
            <input type="text" th:field="*{flightNumber}" class="form-control" id="number" placeholder="8045">
        </div>
        <div class="form-group">
            <label for="date">Date: </label>
            <input type="text" th:field="*{date}" class="form-control" id="date" placeholder="June 26th">
        </div>
        <div class="form-group">
            <label for="depart">Departure: </label>
            <input type="text" th:field="*{departingAirport}" class="form-control" id="depart" placeholder="8:00AM BWI">
        </div>
        <div class="form-group">
            <label for="arrive">Arrival: </label>
            <input type="text" th:field="*{arrivingAirport}" class="form-control" id="arrive" placeholder="4:00PM LAX">
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="450">
        </div>
        <div class="form-group">
            <label for="photo">Destination Photo</label>
            <div th:if="${flight.imageurl} !=null">
                <img th:src="${flight.imageurl}" style="height: 150px; width: 150px"/>
            </div>
            <input type="file" name="file" th:src="*{imageurl}" class="form-control-file" id="photo">
        </div>
        <button type="submit" class="btn btn-primary">Create New Flight</button>
    </form>
</div>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>